#menu {
    display: flex;
    float: right;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    height: 70px;
    padding-right: 150px;
    font-weight: bold;
}

#imeLevo {
    font-size: 14px;
    letter-spacing: 8px;
    text-transform: uppercase;
    padding-left: 10px;
    color: #34495e;
    font-weight: 600;
}
#nav {
    display: flex;
}
#slika{
    float: left;
    width: 50%;
}
#menu {
width: 50%;
}
.link {
    text-decoration: none;
    color: white;
    background-color: darkgray;
}

a:hover {
    background-color: deeppink;
}

body {
    background-image: linear-gradient(#edaccf, #bdf3d2);
    background-repeat: no-repeat;
    margin: auto;
    height: 1000px;
    margin: auto;
    
}

footer {
    background-image: url("footer.png");
    background-repeat: no-repeat;
    height: 246px;
    margin-top: 500px;
    width: 100%;
}

#main {
    max-width: 72%;
    height: 100%;
}